<div class="page-header"><h2><a href="#" editable-text="project.name">{{ project.name }}</a><br><small>{{ project.type }}</small></h2></div>

<div class="row">
    <div class="col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Add Play</h3>
            </div>
            <div class="panel-body">
                <form class="form-inline">
                  <div class="form-group">
                      <input type="text" class="form-control input-sm" placeholder="New Role Name" ng-model="newRoleName">
                      <input type="text" class="form-control input-sm" placeholder="Description" ng-model="newRoleDescription">
                      <button class="btn btn-default btn-sm" type="submit" ng-click="addRole()">Add Playbook</button>
                      <button class="btn btn-default btn-sm" type="submit" ng-click="addRoleManual()">Manual Entry</button>
                  </div>
                </form>
            </div>
        </div>
    </div>
     <div class="col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Description / Notes</h3>
            </div>
            <div class="panel-body">
                <textarea class="form-control" rows="1" ng-model="project.description">{{ project.description }}</textarea>
            </div>
        </div>
    </div>
</div>

<br />

<div class="panel panel-default">
    <div class="panel-heading">
      <div class="panel-title">Git Projects
      <small><font color="black"><input class="input-xs pull-right" ng-model="searchText" placeholder="Search" /></font></small></div>
    </div>
    <div class="panel-body">
        <form class="form-inline">
          <div class="form-group">
              <input type="text" class="form-control input-sm" placeholder="Name" ng-model="newRepoName">
              <input type="text" class="form-control input-sm" placeholder="Git Url" ng-model="newRepoUrl">
              <button class="btn btn-default btn-sm" type="submit" ng-click="addRoleGit()">Add Git Repo</button>
          </div>
        </form>
        <br>
        <table class="table table-hover"  id="roles" ng-show="roles">
            <tr>
                <th>Name</th>
                <th>Manage</th>
                <th>Actions</th>
                <th>Last Run</th>
                <th>Returns</th>
            </tr>
            <tr ng-repeat="(key, role) in rolesgit | orderByPriority | filter:searchText">
                <td>
                    <a href="#/projects/Ansible/{{ projectID }}/roles/{{ role.$id }}" tooltip="{{ role.description }}" tooltip-trigger="hover">{{ role.name }}</a>
                </td>
                <td>
                    <!-- Split button -->
                    <div class="btn-group">
                      <button type="button" class="btn btn-info btn-xs">Manage</button>
                      <button type="button" class="btn btn-info dropdown-toggle btn-xs" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="caret"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                      </button>
                      <ul class="dropdown-menu">
                        <li><a href="#/projects/Ansible/{{ projectID }}/rolesgit/{{ role.$id }}">Edit</a></li>
                        <li><a ng-click="cloneRoleGit(projectID, role.$id)">Clone</a></li>
                        <li><a ng-click="submitToRepoGit(projectID, role.$id)">Submit to Repo</a></li
                        <li role="separator" class="divider"></li>
                        <li><a ng-click="removeRoleGit(role.$id)">Delete</a></li>
                      </ul>
                    </div>

                </td>
                <td>
                    <div class="col-xs-3">
                      <select class="form-control input-sm" ng-model="singleSelect">
                        <option ng-repeat="(key, role) in getPlaybooks(role.$id)">{{ role.name }}</option>
                      </select>
                    </div>
                    <button type="button" class="btn btn-success btn-xs" ng-click="ansible_playbook_git(role.$id)">Run Playbook</button>
                    <button type="button" class="btn btn-danger btn-xs" ng-click="clear_playbook_returns_git(role.$id)">Clear Returns</button>
                </td>
                <td>
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" aria-valuenow="{{ getValue(role.status) }}" aria-valuemin="0" aria-valuemax="100" style="width: {{getValue(role.status)}}">
                        {{ role.status }}
                      </div>
                    </div>
                </td>
                <td>
                    <ul ng-repeat="(key_alpha, return) in role.returns">

                      <button class="btn btn-info btn-xs" data-toggle="modal" data-target="#myModal_{{key_alpha}}">
                        View Results
                      </button>

                      <!-- Modal -->
                      <div class="modal fade" id="myModal_{{key_alpha}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                          <div class="modal-content">
                            <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                              <h4 class="modal-title" id="myModalLabel">Ansible Run Results</h4>
                            </div>
                            <div class="modal-body">

                              <ul ng-repeat="(key, value) in return.stats">
                                <li>{{ key }}: {{ value }}</li>
                              </ul>

                              <hr>
                              <pre>{{ return.stdout }}</pre>

                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                          </div>
                        </div>
                      </div>

                    </ul>
                </td>

            </tr>

        </table>
    </div>
</div>

<br />

<div class="panel panel-default">
    <div class="panel-heading">
      <div class="panel-title">Playbooks
      <small><font color="black"><input class="input-xs pull-right" ng-model="searchText" placeholder="Search" /></font></small></div>
    </div>
    <div class="panel-body">
        <table class="table table-hover"  id="roles" ng-show="roles">
            <tr>
                <th>Name</th>
                <th>Manage</th>
                <th>Actions</th>
                <th>Last Run</th>
                <th>Returns</th>
            </tr>
            <tr ng-repeat="(key, role) in roles | orderByPriority | filter:searchText">
                <td>
                    <a href="#/projects/Ansible/{{ projectID }}/roles/{{ role.$id }}" tooltip="{{ role.description }}" tooltip-trigger="hover">{{ role.name }}</a>
                </td>
                <td>
                    <!-- Split button -->
                    <div class="btn-group">
                      <button type="button" class="btn btn-info btn-xs">Manage</button>
                      <button type="button" class="btn btn-info dropdown-toggle btn-xs" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="caret"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                      </button>
                      <ul class="dropdown-menu">
                        <li><a href="#/projects/Ansible/{{ projectID }}/roles/{{ role.$id }}">Edit</a></li>
                        <li><a ng-click="cloneRole(projectID, role.$id)">Clone</a></li>
                        <li><a ng-click="submitToRepo(projectID, role.$id)">Submit to Repo</a></li
                        <li role="separator" class="divider"></li>
                        <li><a ng-click="removeRole(role.$id)">Delete</a></li>
                      </ul>
                    </div>

                </td>
                <td>
                    <button type="button" class="btn btn-success btn-xs" ng-click="ansible_playbook(role.$id)">Run Playbook</button>
                    <button type="button" class="btn btn-danger btn-xs" ng-click="clear_playbook_returns(role.$id)">Clear Returns</button>
                </td>
                <td>
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" aria-valuenow="{{ getValue(role.status) }}" aria-valuemin="0" aria-valuemax="100" style="width: {{getValue(role.status)}}">
                        {{ role.status }}
                      </div>
                    </div>
                </td>
                <td>
                    <ul ng-repeat="(key_alpha, return) in role.returns">

                      <button class="btn btn-info btn-xs" data-toggle="modal" data-target="#myModal_{{key_alpha}}">
                        View Results
                      </button>

                      <!-- Modal -->
                      <div class="modal fade" id="myModal_{{key_alpha}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                          <div class="modal-content">
                            <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                              <h4 class="modal-title" id="myModalLabel">Ansible Run Results</h4>
                            </div>
                            <div class="modal-body">

                              <ul ng-repeat="(key, value) in return.stats">
                                <li>{{ key }}: {{ value }}</li>
                              </ul>

                              <hr>
                              <pre>{{ return.stdout }}</pre>

                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                          </div>
                        </div>
                      </div>

                    </ul>
                </td>

            </tr>



            <tr ng-repeat="(key, role) in rolesmanual | orderByPriority | filter:searchText">
                <td>
                    <a href="#/projects/Ansible/{{ projectID }}/rolesmanual/{{ role.$id }}" tooltip="{{ role.description }}" tooltip-trigger="hover">{{ role.name }}</a>
                </td>
                <td>
                  <!-- Split button -->
                  <div class="btn-group">
                    <button type="button" class="btn btn-info btn-xs">Manage</button>
                    <button type="button" class="btn btn-info dropdown-toggle btn-xs" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <span class="caret"></span>
                      <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu">
                      <li><a href="#/projects/Ansible/{{ projectID }}/rolesmanual/{{ role.$id }}">Edit</a></li>
                      <li><a ng-click="cloneRoleManual(projectID, role.$id)">Clone</a></li>
                      <li><a ng-click="submitToRepoManual(projectID, role.$id)">Submit to Repo</a></li
                      <li role="separator" class="divider"></li>
                      <li><a ng-click="removeRoleManual(role.$id)">Delete</a></li>
                    </ul>
                  </div>
                </td>
                <td>
                    <button type="button" class="btn btn-success btn-xs" ng-click="ansible_playbook_manual(role.$id)">Run Playbook</button>
                    <button type="button" class="btn btn-danger btn-xs" ng-click="clear_playbook_manual_returns(role.$id)">Clear Returns</button>
                </td>
                <td>
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" aria-valuenow="{{ getValue(role.status) }}" aria-valuemin="0" aria-valuemax="100" style="width: {{getValue(role.status)}}">
                        {{ role.status }}
                      </div>
                    </div>
                </td>
                <td>
                    <ul ng-repeat="(key_alpha, return) in role.returns">

                      <button class="btn btn-info btn-xs" data-toggle="modal" data-target="#myModal_manual_{{key_alpha}}">
                        View Results
                      </button>

                      <!-- Modal -->
                      <div class="modal fade" id="myModal_manual_{{key_alpha}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                          <div class="modal-content">
                            <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                              <h4 class="modal-title" id="myModalLabel">Ansible Run Results</h4>
                            </div>
                            <div class="modal-body">

                              <ul ng-repeat="(key, value) in return.stats">
                                <li>{{ key }}: {{ value }}</li>
                              </ul>

                              <hr>

                              <pre>{{ return.stdout }}</pre>

                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                          </div>
                        </div>
                      </div>

                    </ul>
                </td>

            </tr>
        </table>
    </div>
</div>

<br />


<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title"><a data-toggle="collapse" data-target="#add_host">Add Host</a></h3>
            </div>

            <div id="add_host" class="collapse"><!-- for collapse -->
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-12">
                      <div>
                        <alert ng-repeat="alert in newHostAlerts" type="alert.type" close="newHostCloseAlert($index)">{{alert.msg}}</alert>
                      </div>
                    </div>
                  </div>
                <div class="row">
                  <div class="col-sm-6">
                      <div class="col-sm-6">
                        <input type="text" class="form-control" ng-model="newHostName">
                        <span class="help-block">New HostName / IP Address</span>
                      </div>
                      <div class="col-sm-6">
                        <input class="form-control" type="text" ng-model="ansible_group">
                        <span class="help-block">Group</span>
                      </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12">
                      <div><!-- <div ng-model="inventoryOptions" ng-repeat="option in inventoryOptions | orderByPriority"> -->
                        <div class="col-sm-2 form-group has-error">
                          <!-- <input type="hidden" ng-model="option.name" value="{{ option.name }}"> -->
                          <!-- <input class="form-control" type="text" ng-model="option.value" tooltip="{{ option.description }}" tooltip-trigger="focus" tooltip-placement="above"> -->
                          <!-- <span class="help-block">{{ option.name }}</span> -->
                          <input class="form-control" type="text" ng-model="ansible_ssh_host">
                          <span class="help-block">ansible_ssh_host</span>
                        </div>
                        <div class="col-sm-2 form-group">
                          <input class="form-control" type="text" ng-model="ansible_ssh_port">
                          <span class="help-block">ansible_ssh_port</span>
                        </div>
                        <div class="col-sm-2 form-group has-error">
                          <input class="form-control" type="text" ng-model="ansible_ssh_user">
                          <span class="help-block">ansible_ssh_user</span>
                        </div>
                        <div class="col-sm-2 form-group has-error">
                          <input class="form-control" type="password" ng-model="ansible_ssh_pass">
                          <span class="help-block">ansible_ssh_pass</span>
                        </div>
                        <div class="col-sm-2 form-group">
                          <input class="form-control" type="password" ng-model="ansible_sudo_pass">
                          <span class="help-block">ansible_sudo_pass</span>
                        </div>
                        <div class="col-sm-2 form-group">
                          <input class="form-control" type="text" ng-model="ansible_connection">
                          <span class="help-block">ansible_connection</span>
                        </div>
                        <div class="col-sm-2 form-group">
                          <input class="form-control" type="text" ng-model="ansible_ssh_private_key_file">
                          <span class="help-block">ansible_ssh_private_key_file</span>
                        </div>
                        <div class="col-sm-2 form-group">
                          <input class="form-control" type="text" ng-model="ansible_python_interpreter">
                          <span class="help-block">ansible_python_interpreter</span>
                        </div>
                        <div class="col-sm-2 form-group">
                          <input class="form-control" type="text" ng-model="ansible_interpreter">
                          <span class="help-block">ansible\_\*\_interpreter</span>
                        </div>
                        <div class="col-sm-12 form-group">
                          <button class="btn btn-primary btn pull-right" type="submit" ng-click="addHost()">Add Host</button>
                        </div>

                      </div><!-- </div> -->
                  </div>
                </div>

                </div><!-- for collaspe -->

            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">
                <a data-toggle="collapse" data-target="#rax_cloud">Rackspace Cloud</a>
                <div class="pull-right">
                    <small>
                        <font color="black">
                        <input class="input-xs" ng-model="rax_username" placeholder="Username">
                        <input class="input-xs" ng-model="rax_apikey" placeholder="API Key">
                        </font>
                    </small>
                </div>
              </h3>
            </div>

            <div id="rax_cloud" class="collapse"><!-- for collapse -->
            <div class="panel-body">
                <div class="row">
                  <div class="col-sm-12">
                    <div>
                      <alert ng-repeat="alert in newServerAlerts" type="alert.type" close="newServerCloseAlert($index)">{{alert.msg}}</alert>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12">
                      <div class="col-sm-4">
                        <input type="text" class="form-control" ng-model="newServerName">
                        <span class="help-block">New Server Name</span>
                      </div>
                      <div class="col-sm-4">
                        <input class="form-control" type="text" ng-model="ansible_group">
                        <span class="help-block">Group</span>
                      </div>
                      <div class="col-sm-4">
                        <input class="form-control" type="text" ng-model="region">
                        <span class="help-block">Region</span>
                      </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12">
                      <div>
                        <div class="col-sm-6 form-group">
                          <input class="form-control" type="text" ng-model="rax_flavor">
                          <span class="help-block">Flavor ID</span>
                        </div>
                        <div class="col-sm-6 form-group">
                          <input class="form-control" type="text" ng-model="rax_image">
                          <span class="help-block">Image UUID</span>
                        </div>
                        <!-- {{ images }}
                        <button class="btn btn-primary pull-right" type="submit" ng-click="getServerImages()">List Images</button>  -->
                        <button class="btn btn-primary pull-right" type="submit" ng-click="rax_createServer()">Create Server</button>
                        </div>
                      </div><!-- </div> -->

                  </div>
                </div>

              </div><!-- for collaspe -->

            </div><!-- body -->
        </div>
    </div>
</div>

<div class="row">
     <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">
              <div class="panel-title">
                Inventory
                <div class="pull-right">
                    <small>
                        <font color="black">
                        <input class="input-xs" ng-model="inventoryPattern" placeholder="pattern, * for all">
                        <input class="input-xs" ng-model="inventoryModuleToRun" placeholder="module">
                        <input class="input-xs" ng-model="inventoryModuleArgs" placeholder="args">
                        <button class="btn btn-xs btn-warning" ng-click="ansibleJenericInventory_run(projectID, inventoryPattern, inventoryModuleToRun, inventoryModuleArgs)">Run</button>
                        </font>
                    </small>
                </div>
              </div>
            </div>
            <div class="panel-body">

                <!-- Button trigger modal -->
                <button class="btn btn-warning btn-xs" data-toggle="modal" data-target="#myModal_sshkey">
                  SSH Key
                </button>

                <br><br>

                <table class="table" ng-model="inventorylist">
                    <tr>
                        <th>Name</th>
                        <th>Group</th>
                        <th>Host</th>
                        <th>User</th>
                        <th>Password</th>
                        <th>Actions</th>
                    </tr>
                    <tr ng-repeat="(key, item) in inventoryBinded | orderByPriority">
                        <td>
                            <a href="#" editable-text="item.name">{{ item.name }}</a>
                        </td>
                        <td>
                            <a href="#" editable-text="item.group">{{ item.group }}</a>
                        </td>
                        <td>
                            <a href="#" editable-text="item.ansible_ssh_host">{{ item.ansible_ssh_host }}</a>
                        </td>
                        <td>
                            <a href="#" editable-text="item.ansible_ssh_user">{{ item.ansible_ssh_user }}</a>
                        </td>
                        <td>
                            <a href="#" editable-text="item.ansible_ssh_pass">Change Password</a>
                        </td>
                        <td>
                            <input class="input sm" ng-model="commandToRun" placeholder="command"> <button class="btn btn-xs btn-primary" ng-click="ansibleJeneric(item.$id, 'command', commandToRun)">Run Command</button>
                            <button class="btn btn-xs btn-info" ng-click="ansibleJeneric(item.$id, 'ping', '')">Ping</button>
                            <button class="btn btn-xs btn-danger" ng-click="removeHost(item.$id)">Delete</button>
                        </td>
                    </tr>
                </table>

            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="myModal_sshkey" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">SSH Key File</h4>
      </div>
      <div class="modal-body">
        <textarea class="form-control" rows="30" ng-model="project.ssh_key">{{ project.ssh_key }}</textarea>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Jobs<button class="btn btn-xs btn-danger pull-right" ng-click="clearTasks()">Clear Buffer</button></h3>
            </div>
            <div class="panel-body">
                <table class="table">
                    <tr>
                        <th>Pattern</th>
                        <th>Module</th>
                        <th>Module Args</th>
                        <th>Status</th>
                        <th>Returns</th>
                    </tr>
                    <tr ng-model="external_data" ng-repeat="(key_alpha, item) in external_data | orderByPriority">
                        <td>
                            {{ item.pattern }}
                        </td>
                        <td>
                            {{ item.module_name }}
                        </td>
                        <td>
                            {{ item.module_args }}
                        </td>
                        <td>
                            {{ item.status }}
                        </td>
                        <td>
                            <ul ng-repeat="return in item.returns">

                              <li ng-repeat="(key, value) in return">
                                {{ key }}

                                <ul ng-repeat="(key2, inner) in value">

                                    <li>
                                      <button class="btn btn-info btn-xs" data-toggle="modal" data-target="#myModal_tasks_{{key_alpha}}_{{key}}_{{key2}}">
                                        {{ key2 }}
                                      </button>
                                    </li>

                                    <!-- Modal -->
                                    <div class="modal fade" id="myModal_tasks_{{key_alpha}}_{{key}}_{{key2}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                      <div class="modal-dialog modal-lg">
                                        <div class="modal-content">
                                          <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                            <h4 class="modal-title" id="myModalLabel">Ansible Run Results</h4>
                                          </div>
                                          <div class="modal-body">

                                            <ul ng-repeat="(key3, inner2) in inner">
                                                <li>{{ key3 }}: <pre>{{ inner2 }}</pre></li>
                                            </ul>

                                          </div>
                                          <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                          </div>
                                        </div>
                                      </div>
                                    </div>


                                </ul>

                              </li>

                            </ul>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
