<br />
<!--
    <carousel interval="myInterval">
      <slide ng-repeat="slide in slides" active="slide.active">
        <img ng-src="{{slide.image}}" style="margin:auto;">
        <div class="carousel-caption">
          <h1>Slide {{$index}}</h1>
          <p>{{slide.text}}</p>
        </div>
      </slide>
    </carousel>
-->

<div class="jumbotron">
  <h1>Welcome to Cloud Manifest!</h1>
  <p>A tool to help create, organize and deploy Ansible playbooks to remote servers.</p>
  <p><a class="btn btn-primary btn-lg" href="/#/GettingStartedAnsible" role="button">Learn more</a></p>
</div>

    <br />
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-lg-6">
          <h2>Ansible</h2>
        <p> Ansible is a radically simple IT orchestration engine that makes your applications and systems easier to deploy. Avoid writing scripts or custom code to deploy and update your applications— automate in a language that approaches plain English, using SSH, with no agents to install on remote systems. </p>
          <img src="static/img/ansible_thumb.png">
          <p> </p>
        <p><a class="btn btn-info" href="http://www.ansibleworks.com" target="_blank" role="button">Visit website &raquo;</a></p>
       </div>
        <div class="col-lg-6">
          <h2>Saltstack</h2>
          <p>Salt is a new approach to infrastructure management. Easy enough to get running in minutes, scalable enough to manage tens of thousands of servers, and fast enough to communicate with them in seconds. </p>
          <img src="static/img/salt_thumb.png">
          <p> </p>
          <p><a class="btn btn-warning" href="http://www.saltstack.com" target="_blank" role="button">Visit website &raquo;</a></p>
        </div>
       <!--
        <div class="col-lg-3">
          <h2>Chef</h2>
        <p> Chef is a systems and cloud infrastructure automation framework that makes it easy to deploy servers and applications to any physical, virtual, or cloud location, no matter the size of the infrastructure. </p>
          <img src="img/chef_thumb.png">
          <p> </p>
        <p><a class="btn btn-success" href="http://www.opscode.com/chef/" target="_blank" role="button">Visit website &raquo;</a></p>
        </div>
        <div class="col-lg-3">
          <h2>Puppet</h2>
        <p> Puppet Labs' software gives systems administrators the operational agility, efficiency, and insight they need to manage dynamic infrastructure, on-premise or in the cloud. </p>
          <img src="img/puppet_thumb.png">
          <p> </p>
        <p><a class="btn btn-danger" href="http://puppetlabs.com/" target="_blank" role="button">Visit website &raquo;</a></p>
        </div>
        -->
      </div>
